﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/content/vendors.min.css" rel="stylesheet" />
    <link href="~/content/styles.min.css" rel="stylesheet" />
    <script src="~/scripts/vendor.js"></script>
    <script src="~/scripts/app.js"></script>
</head>
<body data-ng-app="app" data-ng-controller="MainController">
    <div class="fluid-container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="~/content/images/world-logo.gif" height="30px" />
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="@Url.Action("Index","Requirement")">
                        Requisitos <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","UseCaseDiagram")">
                        Casos de uso
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","ClassDiagram")">
                        Diagramas de classe
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Package")">
                        Pacotes
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Acessos <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("ProfileManagement", "Permission")">Gerenciar perfis</a></li>
                        <li><a href="@Url.Action("UserManagement", "Permission")">Gerenciar usuário</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Relatório <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("ProfileManagement", "Permission")">Matriz de rastreabilidade</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@Url.Action("Index", "Project")">
                        Gerenciar Projetos
                    </a>
                </li>
                <li>
                    <div class="navbar-form">
                        <div class="form-group">
                            <label>
                                Projeto atual
                                <select class="form-control">
                                    <option>Projeto X</option>
                                    <option>Projeto Y</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="navbar-form">
                        <div class="form-group">
                            <label>
                                Idioma
                                <select class="form-control">
                                    <option>Português</option>
                                    <option>English</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>
