﻿.navbar-header, .collapse.navbar-collapse {
    color: cornflowerblue;
    background-color: aliceblue;
}

.margin-top {
    margin-top: 1.2%;
}

.title-text {
    margin-right: 2.2%;
    float: left;
}