﻿<div class="row" data-ng-show="step == 'translation'">
    <h2>Adicionar tradução para requisito FR01</h2>

    <div class="col-md-12">
        <div class="form-horizontal">
            <div class="form-group">
                <span class="col-sm-1">Original:</span>
                <span class="col-sm-11"> When the user is an administrator</span>
            </div>
            <div class="form-group">
                <label for="exampleInputName2" class="col-sm-1 control-label">Condição</label>

                <div class="col-sm-8">
                    <input type="text"
                           class="form-control"
                           data-ng-model="requirement.Condition"
                           placeholder="Quando o usuário for administrador">
                </div>
            </div>

            <hr />

            <div class="form-group">
                <span class="col-sm-1">Original:</span>
                <span class="col-sm-11">  the system</span>
            </div>
            <div class="form-group">
                <label for="exampleInputName2" class="col-sm-1 control-label">Sujeito</label>
                <div class="col-sm-8">
                    <input type="text"
                           class="form-control"
                           data-ng-model="requirement.Subject"
                           placeholder="o sistema">
                </div>
            </div>

            <hr />

            <div class="form-group">
                <span class="col-sm-1">Original:</span>
                <span class="col-sm-11">   must allow access permission management</span>
            </div>
            <div class="form-group">
                <label for="exampleInputName2" class="col-sm-1 control-label">Ação</label>
                <div class="col-sm-8">
                    <input type="text"
                           class="form-control"
                           data-ng-model="requirement.Action"
                           placeholder="deve permitir gerenciar permissões de acesso">
                </div>
            </div>
            <div class="btn-group col-sm-offset-1">
                <button type="button" class="btn btn-primary">Salvar</button>
                <button type="button"
                        data-ng-click="step = 'list'"
                        class="btn btn-default">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
